<h1 class="title">Comments</h1>

<% if @post.comments.count < 1 %>
<p>Empty Comment</p>
<% else %>
    <% @post.comments.each do |comment| %>
        <div class="card">
            <div class="card-content">
                <p>
                    <strong><%= comment.username %> </strong>: <%= comment.body%>
                    <span>
                        <%= link_to "",[comment.post, comment],
                                                method: :delete,
                                                data: {confirm: 'Are you sure ?'},
                                                :class => 'delete' %>
                    </span>
                </p>
            </div>
        </div>
    <% end %>
<% end %>

<hr>
