<h1 class="title">Add Comment</h1>

<%= form_for ([@post, @post.comments.build]) do |f| %>

    <div class="field">
        <label><%= f.label :username, :class => 'label' %></label>
        <div class="control">
            <%= f.text_field :username, :class => 'input' %>
        </div>
    </div>

    <div class="field">
        <label<%= f.label :body, :class => 'label' %></label>
        <div class="control">
            <%= f.text_area :body, rows: 4, :class => 'textarea'  %>
        </div>
    </div>
    
    <div class="field">
        <div class="control">
            <%= f.submit ({:class => 'button is-primary'}) %>
        </div>
    </div>
    <p>
        
    </p>    
<% end %>