<h1 class="title">Posts</h1>

<% if @posts.count < 1 %>
<p>Empty Post</p>
<% else %>
    <% @posts.each do |post| %>
        <div class="card">
            <div class="card-content">
                <p class="title">
                    "<%= post.body %>"
                </p>
                <p class="subtitle is-capitalized">
                    <%= post.title %>
                </p>
            </div>
            <footer class="card-footer">
                <p class="card-footer-item">
                    <span>
                        <%= link_to "Read More", post_path(post)%>
                    </span>
                </p>
            </footer>
        </div>
        <br>
    <% end %>
<% end %>
