<h1 class="title">Add Post</h1>

<%= form_for :post, url: posts_path do |f| %>

    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |err| %>
            <div class="notification is-danger"> <%= err %> </div>
        <% end %>
    <% end %>

    <div class="field">
        <label><%= f.label :title, :class => 'label' %></label>
        <div class="control">
            <%= f.text_field :title, :class => 'input' %>
        </div>
    </div>

    <div class="field">
        <label<%= f.label :body, :class => 'label' %></label>
        <div class="control">
            <%= f.text_area :body, rows: 4, :class => 'textarea'  %>
        </div>
    </div>
    
    <div class="field">
        <div class="control">
            <%= f.submit ({:class => 'button is-primary'}) %>
        </div>
    </div>
    <p>
        
    </p>    
<% end %>