<h1 class="title"> Post : </h1>

<div class="card">
    <div class="card-content">
        <p class="title">
            "<%= @post.body %>"
        </p>
        <p class="subtitle">
            <%= @post.title %>
        </p>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">
            <span>
                <%= link_to "Edit", edit_post_path(@post), :class => 'button is-primary' %>
            </span>
            <span>
                <%= link_to "Delete",   post_path(@post), 
                                        method: :delete,
                                        data: {confirm: 'Are you sure?' },
                                        :class => 'button is-danger' %>
            </span>
        </p>
    </footer>
</div>

<hr>

<%= render 'comments/comments'%>
<%= render 'comments/form'%>
